/* Style the header with a grey background and some padding */
html {
  	height: 100%;
}

body {
  
	background-color: rgb(36, 38, 41) !important;
	background-image: url("../images/ST-SummerNights_1025x400.jpg");
	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;



	height: 100vh;
	font-family: "Lato", sans-serif;  
	margin: 0 !important;
	
	padding: 0;
	height: 100%;
	min-height: 100%;
	position: relative;  
}

.container {
	color:rgb(240, 240, 196);
	margin-left: auto;
	margin-right: auto;
	height: 85%;
}

#main-header{
	text-align:left;
    color:rgb(237, 245, 163);
}

#question{
    color:white;
}

.row{
    text-align:center important!;
}

.header{
   
    text-align:center;
    color:rgb(255, 212, 21);
}

#bottom-banner{	
    text-align:right;
    color:rgb(229, 231, 221);
	position:fixed;
	left:0px;
	right:0px;
	bottom:0px;
	height:120px;
	width:105%;
	background:rgb(2, 2, 2);
	opacity:0.6;
	padding: 30px 0;  	
}

